{% extends 'core/base.html' %}

{% block title %}
    Lista de Mascotas en adopcion
{% endblock title %}

{% block body_title %}
    Mascotas en adopcion
{% endblock body_title %}

{% block content %}
    {% for mascota in mascotas %}
        <ul>
            <li>Nombre: {{ mascota.nombre }}</li>
            <li>Edad: {{ mascota.edad }}</li>
            <li>Sexo: {{ mascota.sexo }}</li>
            <li>Descripción: {{ mascota.descripcion }}</li>
        </ul>
    {% endfor %}
{% endblock content %} 