
{% extends 'core/base.html' %}

{% block title %}
    Lista de Refugios
{% endblock title %}

{% block body_title %}
    Refugios de Santa Fe Capital
{% endblock body_title %}

{% block content %}
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form action="{% url 'mi_aplicacion:refugio_list' %}"
                      method="get"
                      class="input-group">
                    <input type="text"
                           name="busqueda"
                           class="form-control"
                           placeholder="Buscar...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
        {% if object_list %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.nombre }}</td>
                                <td>{{ object.precio }}</td>
                                <td>
                                    <a href="{% url 'mi_aplicacion:refugio_detail' object.id %}"
                                       class="btn btn-info btn-sm">Detalle</a>
                                    <a href="{% url 'mi_aplicacion:refugio_update' object.id %}"
                                       class="btn btn-warning btn-sm">Cambiar</a>
                                    <a href="{% url 'mi_aplicacion:refugio_delete' object.id %}"
                                       class="btn btn-danger btn-sm">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="fs-3">No hay registros</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
