{% extends 'core/base.html' %}

{% block title %}
    Refugio | Categoría de Refugios
{% endblock title %}

{% block body_title %}
    Refugio - Categorías de Refugios: Eliminar
{% endblock body_title %}

{% block content %}
    <p class="fs-5  fst-italic ">¿Confirma eliminar "{{ object.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'refugio:index' %}">Volver al inicio de Refugio</a>
{% endblock content %}