{% extends 'core/base.html' %}
{% load static %}

{% block title %}
   MascotaWeb
{% endblock title %}

{% block body_title %}
    Inicio
{% endblock body_title %}

{% block content %}
    
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="{% static 'core/img/adopciones.PNG' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">MascotaWeb</h1>
                <p>¡ Comunicate con nosotros !</p>
                <a class="btn btn-primary" href="https://wa.me/54261999999" target="_blank">Whatsapp</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">This call to action card is a great place to showcase some important
                    information or display a clever tagline!</p>
            </div>
       
    
{% endblock content %} 



